* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    padding-left: 23px;
    background-repeat: no-repeat;
    background-position: bottom right, left;

}
.banner{
    margin: 0px 200px;
    display: flex;
    align-items: center;
}
.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding:18px 36px;
}

.primary-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

ul {
    display: flex;
    align-items: center;
}
.banner-sub{
    font-weight: 600;
font-size: 45px;
color: #474747;
margin-bottom: 5px;
}
.banner-title{
    font-weight: 700;
font-size: 85px;
margin-bottom: 20px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    
    background: #FFF8F3;
border-radius: 10px;
padding:130px 150px;
text-align: center;
}
.section-title{
    
    margin-bottom: 30px;
    font-weight: 700;
font-size: 35px;
}
.section-des{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content:space-around;
}
.about .info-title{
    font-size: 20px;
    color:#757575
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
.what-i-do{
    margin-top: 130px;
}
.skill-container{
    display: flex;
    margin-left: 230px; ;
    gap: 24px;
}
.section-title{
    text-align: center;
}
section{
    margin-top: 130px;
}
.resume-content{
    display: flex;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}
.resume .sub-title{
    color: #757575;
    font-weight:600px ;
    font-size: 20px;
}
.resume .description{
    color: #757575;
}